#next {
    float: right;
}

#pokedex {
    background-color: red;
    border: red solid 2px;
    border-radius: 2%;
    height: 90vh;
    max-height: fit-content;
    padding: 5px;
}

#pokemon {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#pokemon a {
    border-bottom: black solid 1px;
    border-top: black solid 1px;
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
}

#pokemon a:hover {
    background-color: #a0a0a0;
}

#screen {
    background-color: white;
    border: #bcbcbc solid 2em;
    height: 65%;
    margin: 1em;
    max-height: fit-content;
    overflow-y: scroll;
}

#speech_light_inner {
    background-color: #42bff4;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 50px;
    left:50%;
    margin: -25px 0px 0px -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}

#speech_light_outer {
    background-color: #bcbcbc;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    height: 60px;
    position: relative;
    width: 60px;
}